.lending{
    color: white;
}
.lending_navbar{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.lending_navbar img{
    width: 77.69px;
    height: 52px;
    top: 31px;
    left: 20px;    
}
.lending_navbar p{
    font-family: 'Junge';
    font-weight: 500;
    font-size: 20px;
    color: white;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 10px;
}
.lending_content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
  }
  .lending_content_text {
    text-align: center; /* Center text within content area */
    margin-left: 300px;
  }
  .lending_content_text h1{
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
  }
  .lending_content_text p{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 200;
    line-height: 33.89px;
  }
  .lending_content_text button{
    margin-top: 20px;
    border-color: white;
    color: white;
    width: 334px;
    height: 77px;
    border-radius: 10px 10px 10px 10px;
    border: 3px 3px 3px 3px;
    cursor: pointer;
  }
  .lending_content_image img{
    width: 395px;
    height: 522px;
  }


